= form_for @asset, :html => {:multipart => true}, :url => admin_assets_path do |f|
  - if @asset.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@asset.errors.count, "error")
        prohibited
      %ul
        - @asset.errors.full_messages.each do |msg|
          %li= msg
  %div.controls.controls-row
    = f.text_field :description, :placeholder => "Beschreibung"
    = f.select :event_id, options_for_select(@events), :placeholder => "Event"
    = f.text_field :file_text, :placeholder => "Filetext"
    = f.file_field :file
  = f.submit "Upload", :class => "btn btn-primary"
