Anmeldung zu einem Event

= form_for @participant do |f|
  - if @participant.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@participant.errors.count, "error")
        prohibited
      %ul
        - @participant.errors.full_messages.each do |msg|
          %li= msg
  = f.label :power
  = f.check_box :power
  = f.label :Event
  = f.select :event_id, @events.map{|event| [event.name, event.id]}
  = f.submit "Anmelden"
