= form_for @participant do |f|
  %fieldset
    %legend Anmeldung zu einem Event
    - if @participant.errors.any?
      %div.alert
        %strong
          = @participant.errors.count
          Fehler aufgetreten
        %br
        %button.close{"type" => "button", "data-dismiss"=>"alert"} &times;
        - @participant.errors.full_messages.each do |msg|
          =msg
          %br
    %label.checkbox
      Power?
      = f.check_box :power
    = f.label :Event
    = f.select :event_id, @events.map{|event| [event.name, event.id]}
    %br
    = f.submit "Anmelden", :class => "btn btn-primary"
