- unless (@user.participants.empty?)
  %div.bs-docs-example{:title => "Anmeldungen von dir"}
    %table.table.table-striped
      %thead
        %tr
          %th Event
          %th Vorname
          %th Nachname
          %th Stadt
          %th Geburtstag
          %th Power/Relax
      %tbody
        - @user.participants.each do |participant|
          %tr
            %td
              =link_to participant_path(participant), :method => :delete, :confirm => "Möchtest du dich wirklich abmelden?" do
                %i.icon-remove
              =link_to edit_participant_path(participant) do
                %i.icon-pencil
              = participant.event.name
            -if participant.self_registration
              %td= participant.user.first_name
              %td= participant.user.second_name
              %td= participant.user.city
              %td= participant.user.birthday
            -else
              %td= participant.first_name
              %td= participant.second_name
              %td= participant.city
              %td= participant.birthday
            %td= participant.power? ? "Power" : "Relax"
            %td



- if @events.any?
  = form_for @participant, :html=> {:class => "bs-docs-example", :title => "selbst anmelden"} do |f|
    %fieldset
      - if @participant.errors.any? && @participant.self_registration?
        %div.alert
          %strong
            = @participant.errors.count
            Fehler aufgetreten
          %br
          %button.close{"type" => "button", "data-dismiss"=>"alert"} &times;
          - @participant.errors.full_messages.each do |msg|
            =msg
            %br
      %label.checkbox
        Power?
        = f.check_box :power
      = f.label :Event
      = f.hidden_field :self_registration, :value => 1
      = f.select :event_id, @events.map{|event| [event.name, event.id]}
      %br
      = f.submit "Anmelden", :class => "btn btn-primary"

  = form_for @participant, :html=> {:class => "bs-docs-example", :title => "weitere Person"} do |f|
    %fieldset
      - if @participant.errors.any?  && !@participant.self_registration?
        %div.alert
          %strong
            = @participant.errors.count
            Fehler aufgetreten
          %br
          %button.close{"type" => "button", "data-dismiss"=>"alert"} &times;
          - @participant.errors.full_messages.each do |msg|
            =msg
            %br
      %label Name
      %div.controls.controls-row
        = f.text_field :first_name, :placeholder => "Vorname"
        = f.text_field :second_name, :placeholder => "Nachname"
      = f.label "Geschlecht"
      - gender = [["weiblich", "0"],["männlich", "1"]]
      = f.select :male, options_for_select(gender, :selected => (@participant.male? ? gender[1] : gender[0]))
      = f.label :Geburtstag
      = f.date_select :birthday, :start_year => 1950, :end_year => Time.now.year
      = f.label :Stadt
      = f.text_field :city
      = f.hidden_field :self_registration, :value => 0
      %label.checkbox
        Power?
        = f.check_box :power
      = f.label :Event
      = f.select :event_id, @events.map{|event| [event.name, event.id]}
      %br
      = f.submit "Anmelden", :class => "btn btn-primary"
- else
  %div.bs-docs-example{:title => "Kein Event"}
    Es steht leider kein Event zur Verfügung wo eine Anmeldung möglich ist.
    Es kann aber auch sein das alle Events schon voll sind.
    Bitte versuche es später wieder.
