%div.fieldset
  %h1 Editiere dein Profile

  = form_for @user, :url => account_path do |f|
    - if @user.errors.any?
      %div#error_explanation
        %h2
          = pluralize(@user.errors.count, "Fehler")
          aufgetreten
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    = render :partial => "form", :object => f
    %br
    = f.label :Wohnort
    %br
    = f.text_field :city
    %br
    = f.submit "Aktualisieren"

  %br
  = link_to "Mein Profile", account_path