Registrierung

= form_for @user do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@user.errors.count, "Fehler")
        aufgetreten
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.label :login
  = f.text_field :login
  = f.label :email
  = f.text_field :email
  = f.label :Vorname
  = f.text_field :first_name
  = f.label :Nachname
  = f.text_field :second_name
  = f.label "männlich"
  = f.check_box :male
  = f.label :Geburtstag
  = f.date_select :birthday, :start_year => 1950, :end_year => Time.now.year
  = f.label :Stadt
  = f.text_field :city
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit "Login"
