%table.table.table-striped
  %thead
    %tr
      %th Details
      %th Name
      %th Startzeit
      %th Anmeldestart
      %th Kletterhalle
  %tbody
    - @events.each do |event|
      %tr
        %td
          = link_to event_path(event) do
            %i.icon-eye-open
        %td= event.name
        %td= event.start_time.strftime("%d. %m. %Y - %H:%M Uhr")
        %td= event.registration_start.strftime("%d. %m. %Y")
        %td= event.hall != nil ? event.hall.name : ""
